%h1
  Courses:
  = @courses.count

//card-columns
.row{"data-masonry" => "{\"percentPosition\": true }"}
  - @courses.each do |course|
    .col-sm-4.col-md-3.py-3
      = render 'course', course: course
