%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        (c)
        = Time.now.year
        CoursePlatform
        .row
        .fa.fa-envelope
        = mail_to 'admin@sabakta.com'
        .row
      .col-md-4
        Privacy Policy
        .row
        Terms and Conditions
      .col-md-4
        About us
        .row
%br